/* .locker-screen {
  height: 80vh;
} */

.locker-screen-top {
  margin-top: 135px;
}

.locker-screen__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.locker-screen__title > span:first-child {
  font-size: 30px;
  font-weight: 600;
}

.locker-screen-bot {
  margin-top: 55px;
}

.locker-screen__lists2 {
  width: 100%;
  overflow-y: scroll;
}

.locker-screen__list2 {
  height: 50px;
  padding: 0px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locker-list2__title {
  width: 80%;
  font-size: 23px;
  font-weight: 600px;
}
