.alt-header {
  top: 30px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.alt-header__div {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:first-child > a {
  color: white;
}

.screen-alt-header {
  display: flex;
  align-items: center;
}

.screen-alt-header > .alt-header__title {
  margin-left: 36px;
  font-size: 23px;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.alt-header__column:nth-child(2) > span {
  padding: 2px 5px;
  width: 54px;
  height: 29px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #341f17;
}

.alt-header__column:nth-child(2) > span:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  opacity: 0.8;
}

.alt-header__column:nth-child(2) > span:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  opacity: 0.2;
}

.alt-header__music,
.alt-header__video {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child > span:last-child {
  margin-left: 30px;
}
