.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  padding: 20px 80px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__a {
  position: relative;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav__a:hover {
  color: var(--googleRed);
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  bottom: 16px;
  left: 20px;
  animation: notificationAnimation 1s ease-in-out;
}

.nav__update {
  position: absolute;
  left: 32px;
  bottom: 28px;
  animation: notificationAnimation 1s ease-in-out;
}

@keyframes buttonAnimation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__animation {
  /* Only for friends.html */
  animation: buttonAnimation 1.5s ease-in-out;
}
