.pop-up__text > span {
  margin: 4px 0px;
  font-size: 12px;
}

.pop-up__text > span:last-child {
  opacity: 0.7;
}

.pop-up__img {
  border-radius: 10%;
}

.pop-up {
  position: fixed;
  margin-bottom: 73px;
  border-bottom: 1px solid white;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 0px 20px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-up__info {
  width: 100%;
  display: flex;
  align-items: center;
}

.pop-up__text {
  margin-left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.pop-up__btn {
  width: 40%;
  margin: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
